.page {
  max-width: 1280px; /*largura maxima, não importa em qual tela*/
  margin: 0 auto; /* faz todo meu conteudo ficar centralizado */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}