/*Configurações da letra do erro */
.modal__input-error {
  opacity: 0;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 0.75rem; /*12px*/
  color: #ff0000;
  font-weight: 400;
  line-height: 0.9075rem;
}

/*essa classe ativa a aparicao do erro*/
.modal__input-error_active {
  opacity: 1;
}