.element {
  background-color: #ffffff;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  position: relative;
}

.element__number{
  text-align: center;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem; /*13px*/
  line-height: 15.73px;
  visibility: visible;
}

