.button__inactive {
 
  pointer-events: none;
  background-color: #ffffff;
  color: #000000;
  opacity: .2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}